<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>

    <a href="/campgrounds/new">Add New Campground</a>

    <ul>
        <% campgrounds.forEach(function(campground) { %>
            <li>
                <a href="/campgrounds/<%= campground._id %>"><%= campground.title %></a>
            </li>
        <% }) %>
    </ul>



